<div id="post-{{id}}" class="card">

    <a href="/posts/{{id}}">
        <img class="card-img" src="/{{thumbnail}}">
    </a>
    <div class="card-body">
        <a href="/posts/{{id}}" class="card-title">{{title}}</a>
    </div>

    <div>{{username}}</div>
</div>
