  <main>
    <h2>View Post</h2>
    <div class="container">

      <video class="video" controls>
          <source src="/{{post.video}}" type="video/mp4">
          Your browser does not support the video tag.
      </video>
    
      <div class="video-information">  
        <div class="video-title">
          <p>{{post.title}}</p>
        </div>

        <div class="video-author">
          {{post.username}}
        </div>

        <div class="video-time">
          {{ formatDateString post.createAt}}
        </div>

        <div class="video-desciption">          
          <p> Video Description: {{post.description}} </p>
        </div>
      </div>
      
      <div class="comment-box">
        <textarea id="comment-input" placeholder="Write your comment..." 
          data-postid="{{post.id}}"></textarea>
        <input class="button" id="comment-button" type="submit" 
          value="Send Comment" data-postid="{{post.id}}" >
      </div>
      <div id="comments-list" class = "comments">
          {{#each post.comments}}
            {{> comment this}}
          {{/each}}
      </div>
    </div>  
  </main>
